@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

.bg-theme{
  background-color: #1A535C;
}

.icon{
  color: aliceblue;
}

.hero-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-background{
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.our-team{
  width: 100vw;
}